.component-settings {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    .form-content {
        position: absolute;
        top: 5px;
        right: 0px;
        left: 0px;
        bottom: 50px;
        padding: 0px 20px;

        overflow-y: auto;
    }

    .form-submit {
        position: absolute;
        height: 50px;
        right: 0px;
        left: 0px;
        bottom: 0px;

        background: @color-0-1;
        padding: 10px;
    }
}
