.component-settings {
    overflow: auto;
    padding: 10px 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    .model {
        padding: 15px 0px;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
        .clearfix();

        .title {
            width: 25%;
            float: left;
        }

        .fields {
            width: 75%;
            float: right;
        }
    }
}
